[MESSAGES CONTROL]

disable=
    duplicate-code,
    fixme,
    invalid-name,
    locally-disabled,
    missing-docstring,
    no-member,
    too-many-arguments,
    too-many-branches,
    too-many-locals,
    too-many-statements,
    unused-argument,
