[MESSAGES CONTROL]

disable=
    invalid-name,
    too-many-locals,
    missing-docstring,
    too-many-arguments,
    too-many-statements,
    no-member,
    bad-continuation,
    unused-argument,
    too-many-branches,
    duplicate-code,
    fixme,
    wildcard-import,
    locally-disabled
